/*
Theme Name: my-first-webpack-theme
Theme URI: https://wordpress.org/themes/twentytwentytwo/
Author: Mahmoud
Author URI: https://github.com/mahmoud-alawad
Description: ....
Requires at least: 5.9
Tested up to: 5.9
Requires PHP: 5.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentytwo
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments

 my-first-custom-theme Theme, (C) 2021 WordPress.org
 my-first-custom-theme is distributed under the terms of the GNU GPL.
*/
:root{
    --primary :#777;
    --white : #fefefe;
    --dark : #030303;
    --spacing: 2px;

}
a {
    text-decoration: none;
    color: var(--primary);
    letter-spacing: var(--spacing);
 }
 a:hover{
     color: var(--primary);
     opacity: 0.5;
     text-decoration: none;
 }
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-20{
    padding: 20px;
}
.h1{
    font-size: 1rem;
    letter-spacing: 1px;
    
}
body{
   background-color: red;
}

/*navbar */
.navbar{
    background-color : transparent !important  ;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}
.nav-item a {
    text-decoration: none;

}

.nav-item a:hover {
    text-decoration: none;

}

.menu-item{
    margin-left: 1rem;
}
/*end navbar*/


/*posts*/

.main-post {
     padding : 20px;
     background-color : #fff;
     border: 1px solid #d8d8d8;
     margin-bottom: 10px;
}

.main-post i{
    color : #999;
}

.main-post h3{
    margin : 0 0 10px;
    font-weight: bold;
    color : #777;
    letter-spacing : -1px;

}

.main-post .post-author{
    font-size: 14px;
}
.main-post img{
    display : block;
    margin : 10px 0 10px;
}

.main-post .post-content{
    line-height : 1.7;
    color : #888;
    
}

/*end posts*/



/* start footer */

.footer{
    background-color: var(--primary);
    width: 100%;
    height: 30vh;
    color: var(--white);
}