//variables and assets
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './helpers/variables';
@import './helpers/typography';
@import './helpers/mixins';
@import './helpers/util';

//components
@import './components/header';
@import './components/post';
@import './components/parallex';
@import './components/timeline';
@import './components/footer';

//prova
.intro-home {
  opacity: 0.4;
  transform: scale(0.4);
}
