/************ pseduo mix ***************/
@mixin pseudo($type: before, $content: '', $pos: absolute, $align: center) {
  position: relative;

  &::#{$type} {
    content: $content;
    position: $pos;

    @if ($align == center) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($align == left) {
      top: 0%;
      left: 0%;
      transform: translate(-0%, -0%);
    }
    @content;
  }
}

/************ flex mix ***************/
@mixin flex($dir: row, $justify: start) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
}
