@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

@font-face {
  font-family: 'icomoon';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-size: $font-size;
}
