*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $primary;
  letter-spacing: $spacing;
}
li {
  list-style-type: none;
}
a:hover {
  color: $primary;
  opacity: 0.5;
  text-decoration: none;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-20 {
  padding: 20px;
}
.h1 {
  font-size: 1rem;
  letter-spacing: 1px;
}
.h2 {
  font-size: 18px;
  letter-spacing: 1px;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
