//colors
$font-size: 14px;
$primary: #f9b324;
$danger: #ff4136;
$dark: #0b0b0b;
$white: #fefefe;
//transition options
$transition-type: all;
$transition-seconds: 340ms;
$transition-property: linear;

//sizes
$spacing: 2px;
$transition: #{$transition-type} #{$transition-seconds} #{$transition-property};
$banner-hight: 100vh;
// :root{
//     --primary :#777;
//     --white : #fefefe;
//     --dark : #030303;
//     --spacing: 2px;
//     --banner-hight : 100vh;

// }
