/*
Theme Name: my-first-custom-theme
Theme URI: https://wordpress.org/themes/twentytwentytwo/
Author: Mahmoud
Author URI: https://github.com/mahmoud-alawad
Description: ....
Requires at least: 5.9
Tested up to: 5.9
Requires PHP: 5.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentytwo
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments

 my-first-custom-theme Theme, (C) 2021 WordPress.org
 my-first-custom-theme is distributed under the terms of the GNU GPL.
*/

a {
text-decoration: none;
}


.nav-item a {
    text-decoration: none;

}

.nav-item a:hover {
    text-decoration: none;

}