/*navbar */
.navbar {
  /* background-color : transparent !important  ;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4); */
  min-height: 7vh;
  background-color: transparent;
  /* box-shadow: 0px 1px 10px rgb(0 0 0 / 40%); */
  width: 100%;
  position: fixed;
  top: 4%;
  left: 0;
  /* height: 7vh; */
  z-index: 1000;
  transition: $transition;
  color: $white;
}
.navbar a {
  color: $white;
}
.nav-item a {
  text-decoration: none;
  // color: var(--white) !important;
}

.nav-item a:hover {
  text-decoration: none;
}

.menu-item {
  margin-left: 1rem;
  color: $white;
}
/*end navbar*/
.main-carousel {
  position: relative;
  background: #eee;
  min-height: $banner-hight !important;
  height: 100% !important;
  margin: 0;

  &.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
    opacity: 0.3;
  }

  .flickity-viewport {
    overflow: hidden;
    position: relative;
    min-height: $banner-hight;
    height: 100%;
  }

  .flickity-slider {
    height: 100%;
  }
  &-cell {
    & img {
      display: block;
      height: 100%;
      width: 100%;
    }
    &-cta {
      @extend .absolute-center;
      opacity: 0;
      background-color: $white;
      color: $dark;
      padding: 1em 6em;
      text-transform: uppercase;
      border: 1px solid $dark;
    }
  }

  .flickity-prev-next-button {
    top: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: $dark;
  }
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    color: $white;
  }
  .flickity-button:hover .flickity-button-icon {
    color: $dark;
    cursor: pointer;
  }

  .flickity-page-dots {
    position: absolute;
    width: 50%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    /* top: 89%; */
    bottom: 0%;
    left: 0;
    background: $dark;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12%;
  }
  .flickity-page-dot {
    @include flex($dir: row, $justify: center);
    align-items: center;
    transition: $transition;
    width: 100%;
    height: 100%;
    margin: 0 8px;
    border: none;
    background-color: $dark;
    border-radius: 0;
    color: $primary;
    opacity: 1;
    cursor: pointer;
    /* color: white; */
    word-break: break-all;
    align-items: center;
    transition: all 340ms linear;
    margin: 0;
    transition: $transition;
    &.is-selected {
      background-color: $primary;
      color: $white;
    }
  }
}

/*   
@media screen and ( min-width: 768px ) {
.carousel-cell img {
}
} */

/* end slider */
