.timeline {
  background-color: $primary;
  &-block {
    @include flex(column, center);
    align-items: center;
    &-title {
      font-size: 5rem;
      font-weight: bolder;
    }

    &-description {
      text-align: center;
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
  }
}
